


:root {
    --background-color: white;
    --header-color: #345A40;
    --accent-color: #ef6351;
    --text-color: black;
    --card-color: #588157;
    

  }


 
#menu-button{
    background-color: inherit;
    font-size: 2rem;
    padding: .5rem;

}

#menu-button::before{
    content:"≡";
    color: var(--text-color);
}

#menu-button.open::before{
    content: "X";
    color: var(--text-color);
}

nav ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0;
  text-align: center;
  display: none;
}

nav ul.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
  background-color: var(--header-color);
  border-radius: 15px;
  /* This is for the first strip, Home, site plan etc.) */
}

nav ul li {
  text-align: center;
  margin: 20px;
  color: white;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
}

.hero_image{
    height:100%;
    width:auto;

}


/* Wrapper to position relative */
.responsive-image {
  position: relative;
  display: inline-block;
}


.responsive-image::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  background: hsla(46, 91%, 45%, 0.5);
  color: rgb(254, 255, 255);
  font-size: 1.5em;
  border-radius: 5px;
}


/* Label for small screens */
@media (max-width: 400px) {
  .responsive-image::after {
      content: 'Small';
  }
}









.hero {
    border-top: 2px solid var(--header-color);
    border-bottom: 2px solid var(--header-color);
    text-align: center;
    position: relative;
    overflow: hidden;
    max-height: 800px;
}



.hero {
  position: relative;
}



.hero button{
    position: absolute;
    top: 50px;
    right: 10px;
    background-color:white;
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 8px;

}


main {
display: block;
}

ul {
    list-style: none;
  }

  header {

    display: block;
    /* flex-direction: row;
    align-items: center;
    justify-content:space-around ; */
  }

 

.footer_logo{
    height: 50px;


}

header{
background-color: hsl(208, 72%, 72%);

}

  
#dark-mode{
    background-color: white;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem
}

#dark-mode::before{
    content: "😈";
}

#dark-mode.dark::before{
    content: "☀";


}

.currentevents{
    background-color: var(--card-color);
    margin: 10px;
    padding: 10px;
    border:10px solid var(--accent-color);


}

.weather{
  background-color:var(--card-color);
  margin: 10px;
  padding:10px;
  border:10px solid var(--accent-color) ;

} 

.spotlight{
  background-color:var(--card-color);
  margin: 10px;
  padding:10px;
  border:10px solid var(--accent-color) ;


}  

.weather_img{

  height:10%;
  width:50%;

}

