
body {

  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: white;
    --header-color: #72b4c6;
    --accent-color: #ef6351;
    --text-color: black;
    --card-color: #9ba2b6;
  }


 
#menu-button{
    background-color: inherit;
    font-size: 2rem;
    padding: .5rem;

}

#menu-button::before{
    content:"≡";
    color: var(--text-color);
}

#menu-button.open::before{
    content: "X";
    color: var(--text-color);
}

#join-button {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color:rgb(171, 94, 189);
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: 8px;

}


header {
  text-align: center;
}



nav ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0;
  text-align: center;
  display: none;
}

nav ul.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
  background-color: var(--header-color);
  border-radius: 15px;
  /* This is for the first strip, Home, site plan etc.) */
}

nav ul li {
  text-align: center;
  margin: 20px;
  color: white;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
}




.hero {
    border-top: 2px solid var(--header-color);
    border-bottom: 2px solid var(--header-color);
    text-align: center;
    position: relative;
    overflow: hidden;
    max-height: 800px;
}



.hero {
  position: relative;
}



.hero button{
    position: absolute;
    top: 50px;
    right: 10px;
    background-color:white;
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 8px;

}




ul {
    list-style: none;
  }

  header {

    display: block;
    /* flex-direction: row;
    align-items: center;
    justify-content:space-around ; */
  }

 

.footer_logo{
    height: 50px;


}

header{
background-color: hsl(208, 72%, 72%);

}

  
#dark-mode{
    background-color: white;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem
}

#dark-mode::before{
    content: "😈";
}

#dark-mode.dark::before{
    content: "☀";


}

.currentevents{
    background-color: var(--card-color);
    margin: 10px;
    padding: 10px;
    border:10px solid var(--accent-color);


}

.weather{
  text-align: center;
  margin: 20px 0;
}

.weather{
  background-color:var(--card-color);
  margin: 10px;
  padding:10px;
  border:10px solid var(--accent-color) ;

} 

/* .weather-card {
  display:flex ;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.weather-card figure {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.spotlight{
  background-color:var(--card-color);
  margin: 10px;
  padding:10px;
  border:10px solid var(--accent-color) ;


}  

.weather_img{

  height:10%;
  width:50%;

}

/* Discover page */

/* .container {
  display: grid;
  grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */



#discover-message {

  background-color: var(--header-color);
  text-align: center;
}


.container {
  padding: 20px;
  /* display: flex;
  justify-content: space-between; */
 
}

.discover {
  padding:1px;
  /* background: rgb(0, 0, 0); */
  /* font-size: 2.5em; */
 
  
}




/* .hero_image:hover {
  transform: scale(1.05);
  opacity: 0.8;
  border: 5px solid rgba(255, 255, 255, 0.8); White border with opacity */

.images {
  position: relative;
  display: inline-block;
}

.images img:hover {
  padding:7px;
  background: rgb(0, 0, 0);
  font-size: 2.5em;
  border-radius: 8px;}

footer {

  text-align: center;
  padding: 20px;
  background-color: #72b4c6;

}

footer p {
  margin: 5px 0;
 
}

/* Grid Container */


.images {
  
  display: block;
 
}

.images .lazy{

  padding: 10px;
  margin: 10px;


}


.images img {
  width: 50%;
  height: auto;
  display: block;
  border-radius: 8px;
  
}

.images figure{

  margin-bottom: 10px;
  

}

.card-demo {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #111111;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
 
}

.card-events {
  background-color: #dccedc;
  padding: 20px;
  border: 1px solid #111111;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
 
}

.card-attraction {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #111111;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
 
}

figure {  /* Keeping images and captions orgnized */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}



figcaption {
  margin-top: 10px;
  text-align: center;
}


.discover{
  display: block;
}


/* Join Form */

#mainform {

 width:70%;
  /* overflow: hidden; */
  display:flex;
  margin: 0em;
  /* border: 10px solid black;
  padding: 10px;
  border-radius: 8px; */
  /* justify-items:center; */
  padding: 3em;
  align-self:center;

 


}


#content {
  /* width: auto; */
  margin: 4em ;
  justify-content: center;
  background-color: #bfbfbf;
  

 
}


.banner_img {
  width: 500px;
  padding: 2em;
  margin: auto;

}

.mainform1, .benefits {
  display: inline-block;
  background-color: #7eacb9; /* Adjusted background color */
  padding: 12px;
  box-sizing: border-box;
  border: 5px solid #000;
  border-radius:3px; /* Rounded corners */
  margin: 0;
  align-items: center;
  width: 1100px;

  /* margin-right: 4%;
  width: 50%; */

}
/* 
.benefits {
  width: 50%;
  float: left;
  margin-left: 5%;
  background-color: #7eacb9; /* Adjusted background color */
  /* padding: 10px;
  box-sizing: border-box;
  border: 5px solid #000;
  border-radius: 8px; Rounded corners */ 



.h2heading ,.h3heading {
  margin-top: 0;
}


label, fieldset {
  display: block;
  margin-bottom: 15px;
}


input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
}


button {
  background-color: #2a4eba;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 1px solid #1d1b1d;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3b2b70;
}

.benefits ul {
  list-style-type: none;
  padding-left: 0;
}

.benefits li {
  margin-bottom: 10px;
}

.benefits ul ul {
  list-style-type: disc;
  margin-left: 20px;
}


/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Specific styles for red and green fields */
input:invalid {
    background-color: #ffdddd;
}

input:valid {
    background-color: #ddffdd;
}


/* directory-page  */


.directory-page {

  background-color: #b2ced5;
 

}

/* #cards {

  background-color: #b0bbdb;
  text-align: center;



} */




.directory-grid section {

  background-color: rgb(91, 234, 122);

}


.directory-list section {

  background-color: rgb(148, 121, 193);
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

/* .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 
} */

.directory-grid  {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(350px, 1fr));
}



.directory-list section img {
  display: none;
}


.directory-page {
  background-color: #dadada;
  border: 5px solid #000000;
  border-radius: 10px;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  /* width: 100%; */
}

img {
  max-width: 100%;
  border-radius: 10px;
  border-color: black;
}
