

@media screen and (min-width:1050px) {

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* max-width: 960px; */
        
      }
}


/* Label for large screens */
@media (min-width: 1201px) {
    .responsive-image::after {
        content: 'Large';
    }
  }

