

@media screen and (min-width:800px) {

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .responsive-image::after {
        content: 'Medium';
    }


#menu-button{
    display: none;
}

nav ul.open{
    flex-direction: row;
}

#mainform{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    }


}


