@media (max-width: 800px) {
    .card {
      width: 100%;
    }

    #order-form-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #order-form {
        width: 60%;
    }

    #product-info {
        max-width: 35%;
        text-align: left;
    }
}

  